#colophon{

background-color: #eee;
background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-style: italic;
    text-decoration-color: khaki;

}
#main{
    background-color: #ccc;
}
#secondary{
    background-color: #bbbb;
        float: left;
        width: 500px;
        height: 900px;
        margin: 100px;
        border: 3px dotted rgba(146, 22, 22, 0.733);  
        
}
#primary{
    background-color: black;
        float: right;
        width: 900px;
        height: 700px;
        margin: 100px;
        border: 3px dotted #cccc;  
}
#content{
    background-color: goldenrod;
}
#masthead{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-style: italic;
    text-decoration-color: khaki;

}